.main{
    background-color:var(--black);
    min-height: 100vh;
    height: auto;
    width: 100vw;
}

h1{
    color:white;
    text-align: center;
    margin:0;
    padding:0;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}